* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
 
body{
  overflow-x: hidden;
}
.navbar {
  width: 100%;
  height: 10vh;
  background-color: #083346;
  padding: 0 120px;
  /* position: sticky;
  top: 0; */
}

.navbar h2 {
  line-height: 70px;
  float: left;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.navbar .menu {
  float: right;
  list-style: none;
}

ul li {
  display: inline-block;
  line-height: 70px;
  padding: 0 20px;
  text-transform: uppercase;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

/* -------Navbar End-------- */
/* -------Welcome Start-----*/
.welcome {
  /* height: 100vh; */
  height:90vh;
  background-color: #083346;
}

.wel-left {
  float: left;
  width: 50%;
  background-color: #083346;
  height: 90vh;
  padding: 120px;
}
.wel-left .hello {
  font-size: 30px;
  font-weight: 500;
  color: white;
  padding-bottom: 10px;
}

.wel-left .type {
  font-size: 45px;
  color: white;
  font-weight: 600;
  padding-bottom: 20px;
}

.wel-left .wel-left-button {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
}

.wel-right {
  float: right;
  width: 50%;
  background-color: #083346;
  height: 90vh;
}

.wel-right .img {
  float: right;
  padding: 0 120px;
  height: 2rem;
}

/* -------About Section Start ------- */


.about-left {
  float: left;
  height: 100vh;
  padding: 120px;
  width: 50%;
}

.about-left .myimage{
  margin-left: 60px;
}
.about-left .myimage img{
  margin-top: -60px;
  width: 100%;
  height: 100%;
}

.about-right {
  float: right;
  height: 100vh;
  width: 50%;
  padding: 70px;
}
.about-right .head {
  font-size: 35px;
  font-weight: bold;
  width: 80%;
  height: 40px;
  margin-top: 50px;
  margin-left: 20px;
}

.about-right .information {
  margin-left: 20px;
  margin-right: 60px;
  font-size: 20px;
  padding-top: 15px;
}

.about-right .details {
  margin-left: 20px;
  margin-top: 30px;
  padding: auto;
  width: 80%;
  margin-bottom: 50px;
}

.about-right .details .data {
  margin-bottom: 20px;
}

.about-right .details .data span {
  width: 30%;
  margin-right: 20px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}

.about-right .download-btn {
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  margin-top: 10px;
  background-color: #083346;
  color: #fff;
}

.skill .skill-left {
  float: left;
  height: 100vh;
  padding: 80px 0 0 120px;
  width: 55%;
  background-color: #f0f8f9;
}

.skill .skill-left .skill-heading {
  font-size: 44px;
  font-weight: 600;
  color: #083346;
  width: 56%;
}

.skill-left .skill-items  {
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px -10px;
  max-width: 100%;
  justify-content:space-evenly ;
}


.skill-item img {
  width: 100%;
  margin: 0 6px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 5px;
}

.soft h3{
  color: #083346;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.soft .soft-item {
  display: inline-block;
  border: 1px solid black;
  height: 7rem;
  width: 7rem;
  text-align: center;
  border-radius: 100%;
  /* margin: 1rem;  */
  background-color: #0196c1;
}


.soft .soft-item p{
  padding-top: 3rem;
}


.skill .skill-right{
  float: right;
  height: 100vh;
  width: 45%;
}


/* ------- Work style ------- */
.work {
  height: 100%;
}

.work .work-left{
  height: 100vh;
  width: 50%;
  float: left;
}
.work-left-box{
  margin-left: 90px;
}

.work-left-space {
  display: flex;
  margin-top: 150px;
}

#vertical{
  font-size: 2.9rem;
  line-height: 1.1;
  font-weight:600;
  color: #083346;
  transform:rotate(-90deg);
  margin-top: -12px;
  margin-right: -90px;
}

#vertical span{
  font-size:4.4rem;
  color:#0196c1;
}

.jurneytxt {
  padding-top: 2em;
  padding-left: 1em;
}

.jurneytxt p {
  font-size: 2.2rem;
    font-weight: 600;
    color: #083346;
    line-height: 38px;
}

.jurneytxt p span {
  color:#0196c1;
}

.work .work-right{
  height: 100vh;
  width: 50%;
  float: left;
  /* background-color: rgb(165, 247, 165); */
}

.work-right h1{
  margin-top: 55px;
  float: right;
  /* margin-right: 60px; */
  font-weight: 600;
  font-size: 44px;
  width: 50%;
}

.edu-box{
  margin-top: 9rem;
  margin-left: 10rem;
}
.edu-college{
  width: 20rem;
  height: 11rem;
  border: 1px solid gray;
  text-align: center;
}

.edu-college i{
  margin: .7rem;
  color:#0196c1;
 }
 
.edu-college h3{
  margin: 0rem auto;
 width: 78%;
 height: 1.5rem;
 color: #083346;
}

.edu-college p{
  width: 90%;
  text-align: center;
  margin-top: .5rem;
  margin-left: auto;
  margin-right: auto;

}
.edu-college h4{
  margin-top: .5rem;
  color: #083346;
}

.edu-univer{
  margin-top:2rem;
  width: 20rem;
  height: 11rem;
  border: 1px solid gray;
  text-align: center;
}

.edu-univer i{
 margin: .7rem;
 color:#0196c1;
}

.edu-univer h3{
  margin: 0rem auto;
  width: 80%;
  text-align: center;
  color: #083346;
}

.edu-univer p{
  text-align: center;
  margin-top: 1rem;
}

.edu-univer h4{
  margin-top: .4rem;
  text-align: center;
  color: #083346;
}



/* Portfolio Section Start  */

.Portfolio {
  height: 100%;
}

.port-left{
  float: left;
  height: 100vh;
  width: 35%;
 
}

.portfolio-menu{
  margin-top: 20px;
  background-color: #083346;
    padding: 70px 60px;
}
.portfolio-menu h2{
  font-size: 72px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 18px;
    text-align: left;
}
.portfolio-menu ul li.active{
  text-decoration: underline;
  color: #fff;
}



.portfolio-menu ul li{
  color: #fff;
  cursor:pointer;
  display: block;
  text-align: left;
}
.port-list .port-item{
  line-height: 35px;
  padding:0;
  margin: 0;
  text-transform:none;
  display: block;
}

.port-right{
  float: right;
  height: 100vh;
  width: 65%;
}

.grid-list{
  margin-top: 20px;
  display:grid;
  grid-template-columns: auto auto auto ;
}

.portfolio .portfolio-outer .port-right .grid-list img{
  width: 292px;
  height: 229px;
}

/* Contact Section */
.contact{
  height: 100vh;
  width: 100%;
}

.contact .greet-left{
  float: left;
  width: 50%;
  height: 80%;
  background: rgb(247, 247, 247);
}

#greet-box{
  text-align: center;
  padding: 30px 65px;
}
.contact .greet-left img{
  width: 450px;
  height: 338px;
}

#greet-box .greettxt{
  font-size: 1.6rem;
  color:#083346;
}

#greet-box .greet-ptext{
  margin-left:100px;
  margin-right:100px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.contact .message-right{
  float: right;
  width: 50%;
  height: 80%;
  background-color:#083346;
}

.message-right .text-area{
  padding:100px;
  width:100%;
}


.Form-group{
 display:flex;
 justify-content:space-between;
}
.field-same{
  height:50px;
  background-color: #516f7c;
}

fieldset{
  width:220px;
  border-style: none;
}

fieldset input {
  color:white;
  border-style: none;
  outline: none;
  width:100%;
}
::placeholder{
  color:white;
  padding-top: 10px;padding-left: 20px;
}

textarea{
  resize: none;
  width:100%;
  margin-top: 30px;
  background-color: #516f7c;
  outline: none;
  caret-color: #fff;
}

textarea::placeholder{
  padding-top: 20px;padding-left: 20px;
}


.send-submit{
  margin-top: 30px;
  margin-left: 200px;
  padding: 10px;
  background-color: #046c95;
  outline: none;
  color: #fff;
  border-style: none;
}

.footer{
  
  padding: 40px 120px;
}


.footer .copyright{
  float: left;
  width: 60%;
  /* background-color:skyblue; */
  height: 75px;
}

.copyright .copy-txt{
  padding: 40px;
}

.copyright-p{
  letter-spacing: 0.78px;
}

.footer .social-media{
  float: right;
  width: 40%;
  height: 75px;
  /* background-color:gray; */
  text-align: right;
  padding:10px;
}



.social-ul li i{
  color: #046c95;
}

.social-ul li a{
  font-size: 30px;
 
}



@media only screen and  (max-width: 420px) {
 html, body {
    overflow-x: hidden;
   
  }
  .navbar{
    width: auto;
  }
  .navbar .menu {
    display: none;
  }

  .navbar h2{
    margin-left: -80px;
  }

  .welcome{
    flex-direction: column;
    height: 445px;
  }
  
  .wel-left{
    text-align: center;
    width: auto;
    margin-left: -39px;
  }

  .wel-right{
    width: auto;
    height: 70%;
  }

  .wel-right .img{
    width: 76%;
    margin-top: -180px;
  }

  .about{
    flex-direction: column;
    
  }

  .about .about-left{
    height: 400px;
  }

  .about-left .myimage{
    margin-left: -97px;
    margin-top: -54px;
  }
  .about-left .myimage img{
    width: 350px;
    height: 350px;
  }

  .about-right {
    margin-top: -85px;
    width: auto;
    margin-left: -29px;
    height: 564px;
  }

  .about-right .head {
    font-size: 20px;
    margin-top: auto;
  }

  .about-right .information {
    font-size: 16px;
  }

  .about-right .details {
    margin-left: 19px;
    margin-top: 39px;
    
    width: 80%;
    font-size: 17px;
    margin-bottom: 50px;
  }

  .about-right .details .data span {
    width: 30%;
    margin-right: -21px;
    display: contents;
    font-weight: bold;
    font-size: 19px;
}
.about-right a.download-btn {
  margin-left: 19px;
}



.skill{
  flex-wrap: wrap;
}

.skill .skill-left{
  width:auto;
  text-align: center;
  padding: 0;
  margin-top: -25px;
}
.skill .skill-left .skill-heading{
  font-size: 24px;
  width: auto;
  margin-top: 30px;
}

/* Work */
.work{
  flex-direction: column;
}

.work .work-left {
  height: 50%;
}

.work .work-left .work-left-box{
margin: 0;
}

.work .work-left .work-left-box .work-left-space #vertical{
  font-size: 28px;
  margin-top: 5px;
}
.work .work-left .work-left-box .work-left-space #vertical span{
  font-size: 3.2rem;
  
}

.work .work-left .work-left-box .work-left-space{
  margin-top: 50px;
    padding: 2px;
    margin-left: 5px;
}

.work .work-left .work-left-box .work-left-space .animation img{
  width: 275px;
}
.work .work-left .work-left-box .jurneytxt{
  width: 420px;
  margin: 0;
  padding: 0;
}

.work .work-left .work-left-box .jurneytxt p{
  font-size: 28px;
  margin-left: 10px;
}

.work .work-right{
  margin-top: -262px;
  width: 420px;
  margin-left: -123px;
}

.portfolio .portfolio-outer .port-left{
  width: 420px;
  margin-top: -100px;
  height: 570px;
}

.portfolio .portfolio-outer .port-right{
width: 420px;
height: auto;
}
.portfolio .portfolio-outer .port-right .grid-list{
  display: flex;
    flex-wrap: wrap;
    margin-top: -115px;
    padding: 2px;
}
.portfolio .portfolio-outer .port-right .grid-list img{
  width: 138px;
  height: 140px;
  
}

.contact .greet-left{
  width: 100%;
    margin-top: -3px;
    padding-left: 205px;
    height: 394px;
}
.contact .greet-left #greet-box{
 padding: 0;
}
.contact .greet-left #greet-box img{
  margin-left: -240px;
}
.contact .greet-left #greet-box .greettxt{
  margin-left: -227px;
 }

 .contact .message-right{
  width: 100%;
  height: 460px;
  /* margin-top: -50px; */
 }
 .contact .message-right .text-area{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
 }
 .contact .message-right .text-area .Form-group{
  display: flex;
  flex-direction: column;
  padding: 50px;
 }
 .contact .message-right .text-area .Form-group .fname{
  margin-bottom: 15px;
 }
 .contact .message-right .text-area .Form-group .fname fieldset{
  width: 100%;
 }
 .contact .message-right .text-area .Form-group .Email fieldset{
  width: 100%;
 }
 .contact .message-right .text-area textarea{
   margin: 0;
 }
 .contact .message-right .message-container .text-area .txtmsgBox{
  padding: 50px;
    margin-top: -58px
 }
 .contact .message-right .message-container .text-area .btn-send{
  margin: -35px;
 }

 .footer{
   display: flex;
   flex-direction: column-reverse;
 }
 .footer .copyright{
  display: flex;
    width: 420px;
    margin-left: -120px;
    margin-top: -40px;
 }
 .footer .social-media{
  display: flex;
  width: 420px;
  margin-left: -105px;
  margin-top: -40px;
 }
}
